.card {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

/* Estilos para .card en pantallas más pequeñas */
@media (max-width: 600px) {
  .card {
    width: 90%;
    max-width: 500px;
  }
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.input-task {
  color: gray;
  font-size: 15px;
  width: 360px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  transition: box-shadow 0.15s;
}

/* Estilos para .input-task en pantallas más pequeñas */
@media (max-width: 600px) {
  .input-task {
    width: 100%;
  }
}

.input-task:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.input-task:focus {
  outline: none;
  border: 1px solid rgba(0, 119, 255, 0.5);
}

.add-btn,
.save-btn {
  color: white;
  background-color: rgb(0, 119, 255);
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

/* Estilos para .add-btn y .save-btn en pantallas más pequeñas */
@media (max-width: 600px) {
  .add-btn,
  .save-btn {
    width: 50%;
    padding: 10px;
    margin-left: 10px;
  }
}

.add-btn:hover,
.save-btn:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}

.save-btn {
  background-color: rgb(4, 170, 12);
}